<link rel="stylesheet" href="/media/css/register.css">
<style>
    .img {
        width: 75px;
        height: 75px;
        background-size: cover;
    }
    .form label[for="photo"] {
        left: 130px;
        margin-bottom: 0;
        top: 70px;
    }
</style>
<script src="/media/js/photo.js"></script>
<script src="/media/js/index.js"></script>
<form action="profile/addinfo" method="post" class="form" enctype="multipart/form-data">
    <dl>
        <dd>
            <div class="img" style="background-image: url('{{ profile.avatar_id ? profile.getAvatar_min : 'https://azmlm.com/wp-content/themes/pinboard/images/no_avatar.gif.pagespeed.ce.KcNdUG1BVO.gif' }}')"></div>
        </dd>
        <dt><label for="photo">add photo</label></dt>
        <dd><span class="path"></span>
            <input type="file" name="photo" id="photo" accept=".png, .jpg, .jpeg" hidden>
        </dd>
        <dt>Name:</dt>
        <dd><input type="text" name="name" value="{{ profile.name ? profile.name : "" }}"></dd>
        <dt>Surname:</dt>
        <dd><input type="text" name="surname" value="{{ profile.surname ? profile.surname : "" }}"></dd>
        <dt>Sex:</dt>
        <dd>
            <label for="male">male</label>
            <input type="radio" name="sex" id="male" value="1" {% if profile.sex == 1 %} checked {% endif %}>
            <label for="female">female</label>
            <input type="radio" name="sex" id="female" value="0" {% if profile.sex == 0 %} checked {% endif %}>
        </dd>
        <dt><label for="">Some information about yourself:</label></dt>
        <dd><textarea name="about" id="">{{ profile.about ? profile.about : "" }}</textarea></dd>
        <dt>Your hobbies:</dt>
        <dd><textarea name="hobby" id="">{{ profile.hobbies ? profile.hobbies : "" }}</textarea></dd>
        <dt>Country:</dt>
        <dd>
            <select name="country" id="country">
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </dd>
        <dt>City:</dt>
        <dd>
            <select name="city" id="city" disabled>
                {#<option value="{{ city.id }}">{{ city.name }}</option>#}
            </select>
        </dd>
        <dt><input type="submit"></dt>
    </dl>
</form>